@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PlayfairDisplay&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;

    background-color: white;
    width:100%;
    max-width: 1920px;
    height: 87px;

    position: fixed;
}

.header img {width: 120px;
    height: 60px;

    margin-left: 167px;
    margin-top: 16px;
}

li {
    display: inline;
    cursor: pointer;
    list-style: none;

    color: #9767A9;
    font-size: 18px;

    width: 56px;
    height: 22px;

    margin-left: 90px;
}

li:hover {
    color: #9767A9;
    font-weight: bold;
}

.search {
    align-items: center;
    position: relative;
    margin-left: 90px;
}

.search img {
    width: 21px;
    height: 19px;
    position: absolute;

    margin-left: 10px;
    margin-top: 10px;
}

.search input {
    border: 3px solid #9767A9;
    border-radius: 50px;

    width: 213px;
    height: 40px;

    padding-left: 35px;

    text-emphasis-color: #9767A9;
    font-size: 16px;
}

.icons {
    display: inline;
    align-items: center;

    width: 200px;
    height: 70px;
}

.icons img {
    width: 35px;
    height: 35px;
    display: inline;

    margin-left: 25px;
    margin-bottom: 18px;
}

.content {
    display: flex;
}

.tips {
    width: 360px;
    height: 200px;

    position: absolute;

    margin-top: 390px;
    margin-left: 278px;
}

.tips h2 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 100px;
    color: white;

    line-height: 90px;
}

.tips2 {
    width: 400px;
    height: 100px;

    position: absolute;

    margin-left: 1168px;
    margin-top: 420px;
}

.tips2 h2 {
    font-size: 35px;
    font-weight: 100;
    color: white;

    width: 450px;
    height: 98px;
}

.box {
    background-color: #9767A9;

    width: 1920px;
    height: 387px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box h2 {
    width: 900px;
    height: 172px;

    text-align: left;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 70px;

    color: white;

    margin-bottom: 190px;
    margin-left: 100px;
}

.box p {
    margin-right: 85px;

    width: 768px;
    height: 278px;

    font-size: 25px;
    font-weight: 100;
    color: white
}

.images-main {
    max-width: 100%;
    width: 1920px;
    height: 3500px;

    display: grid;
    grid-template-columns: repeat(2, 900px);
    grid-template-rows: 600px 600px 600px;
}

.column-main-1 img {
    margin-bottom: 200px;
    margin-left: 100px;
}

.column-main-2 img {
    margin-top: 300px;
    margin-left: 25px;
}

.gallery-main {
	display: grid;
	grid-template-columns: repeat(5, 300px);
	grid-template-rows: 500px 500px;

   margin-left: 200px;
}

.column-1 {
    margin-top: 50px;
}
.column-1 img {
    margin: 7px;
}

.column-2 {
    margin-left: 110px;
    margin-top: 50px;

    width: 300px;
    height: 900px;
}

.column-2 img {
    margin: 7px;
}

.column-3 {
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.column-3 img {
    margin: 7px;
}

.column-4 {
    margin-left: 160px;
    margin-top: 50px;
}

.column-4 img {
    margin: 7px;
}

.crown {
width: 398px;
height: 598px;
}

.afro {
    width: 398px;
height: 850px;

margin-left: 55px;
margin-top: 55px;
}

footer {
    display: flex;

    background-color: #9767A9;

    width: 1920px;
    height: 106px;
}

.copyright {
    margin-top: 30px;
    margin-left: 140px;
}

.copyright p {
    width: 900px;

    font-family: Montserrat;
    font-size: 15px;
    font-weight: 100;
    color: white;
}

.icons-footer {
   display: flex;
   margin-left: 190px;
}

.icons-footer p {
    width: 100px;
    display: inline-block;
    margin-top: 20px;

    font-family: Montserrat;
    font-size: 20px;
    color: white;
}

.icons-footer img {
    width: 45px;
    height: 45px;

    margin-left: 10px;
    margin-top: 25px ;
}